<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout::view(~{::title}, ~{::article})}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lấy lại mật khẩu - ShopOnline</title>
</head>
<body>
	<article class="row mt-4">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div
						class="card forgot-password-card animate__animated animate__fadeIn">
						<div class="card-body">
							<h4 class="card-title text-center mb-4">Lấy lại mật khẩu</h4>
							<!-- Display error if exists -->
							<div th:if="${error}" class="alert alert-danger" role="alert"
								th:text="${error}"></div>
							<!-- Display success message if exists -->
							<div th:if="${success}" class="alert alert-success" role="alert"
								th:text="${success}"></div>
							<form th:action="@{/account/forgot-password}" method="post">
								<div class="mb-3 input-icon-container">
									<i class="fas fa-envelope icon-input"></i> <input type="email"
										id="email" name="email" class="form-control with-icon"
										placeholder="Nhập email" required>
								</div>
								<div class="d-grid">
									<button type="submit" class="btn btn-primary">Lấy lại
										mật khẩu</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</body>
</html>
